---
layout: default
---

{% assign days = site.conference.dates.size %}
{% assign startmonth = site.conference.dates.first | date: "%B" %}
{% assign endmonth = site.conference.dates.first | date: "%B" %}
<h2>Volume {{ site.volume }}: {{ site.conference.name }}, {% if days > 1 %}{% if startmonth == endmonth %}{{ site.conference.dates.first | date: "%-d" }}-{{ site.conference.dates.last | date: "%-d %B %Y" }}{% else %}{{ site.conference.dates.first | date: "%-d %B" }} to {{ site.conference.dates.last | date: "%-d %B %Y" }}{% endif %}{% else %}{{ site.conference.dates.first | date: "%d %B %Y" }}{% endif %}, {{ site.conference.location }}</h2>
{% if site.github.edit %}
{% capture url %}https://github.com/{{ site.github_username }}/{% if site.github.repository %}{{ site.github.repository }}{% else %}{{ site.baseurl }}{% endif %}/edit/{% if site.github.repository contains 'github.io' %}master{% else %}gh-pages{% endif %}/_config.yml{% endcapture %}
<p align="right">[<a href="{{ url }}" target="_blank" onclick="ga('send', 'event', 'Edit Page', 'Edit', '{{ url }}', 13);">edit</a>]</p>
{% endif %}

  
<p><strong>Editors:
    {% assign lastone = site.editor | last %}
    {% for person in site.editor %}
    {% include listperson.html %}
    {% endfor %}
</strong></p>
<p>[<a href="./bibliography.bib" target="_blank" onclick="ga('send', 'event', 'Download File', 'Download', '{{ site.url }}/{{site.baseurl}}/bibliography.bib', 14);">bib</a>][<a href="./citeproc.yaml"  target="_blank" onclick="ga('send', 'event', 'Download File', 'Download', '{{ site.url }}/{{site.baseurl}}/citeproc.yaml', 14);">citeproc</a>]</p>
<div id="sectionnav">{% if site.sections %}
  <p>Contents:</p>
  <ul>
    {% for section in site.sections %}
    <li><a href="#{{ section.name }}">{{ section.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  <p>
  <label for="search-authors">Filter Authors:</label>
  <input type="search" name="filter-authors" id="search-authors" value />
  <label for="search-titles">Filter Titles:</label>
  <input type="search" name="filter-titles" id="search-titles" value />
  </p>
</div>
{% assign sorted = (site.posts | sort: 'order') %}
{% if site.sections %}{% for section in site.sections %}
<h3 id="{{ section.name }}">{{ section.title }}</h3>
{% for post in sorted %}{% if section.name == post.section %}
{% include listpaper.html %}{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% for post in sorted %}{% unless post.section %} 
{% include listpaper.html %}{% endunless %}
{% endfor %}

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

<!-- Search Widget -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="../js/search.js"></script>
